:root {
  background-image: url(./images/wendy-bandurski-miller-dqKb76-Cf5s-unsplash.jpg);
  color: rgba(255, 255, 255, 0.7);
  background-repeat: no-repeat;
  background-size:fill;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  font-weight: bolder;
  border-radius: 25px;
}

.big-one {
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  margin: 50px;
  width: 65%;
  height: 300px;
  border-radius: 20px;
  font-weight: bold;
}

.cards {
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  display: inline-block;
  padding-left: 30px;
  line-height: 2em;
  height: 300px;
  width:200px;
  border-radius: 20px;
  animation: 1s ease-out 0s 1 slideup;
}
.cardcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  width: 68%;
  float: right;
}

aside {
  width: 25%;
  height: 300px;
  margin-top: 50px;
  margin-left: 50px; 
}


.recentcities {
  padding-right: 3px;
  padding-top: 0px;
}

#recentsearch {
  font-weight: light;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  width: 90%;
  height: 30px;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  padding-top: 5px;
  border-radius: 20px;
  text-transform: uppercase;


}

button {
  padding-bottom:30px;
}

.searchbar {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  width: 80%;
  height: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 20px;
}

.searchbar::placeholder {
  color:rgba(255, 255, 255, 0.5);
  transition: 0.1s ease;
}

.searchbar:focus::placeholder{
  color:transparent
}

.searchbtn {
  background-color: rgba(255, 255, 255, 0.5);
  width: 40px;
  height: 40px;
  font-size: 24px;
  padding-top: 3px;
  border-radius: 20px;
}

button:active{
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);

}

.flexbox {
  display: flex;
  
}

/* @keyframes slideup {
    0% {
      transform: translateX(3000%);
    }
    90% {
      transform: translateX(-25%)
    }
    100% {
      transform: translateX(0);
    }
  } */
