:root {
  background-color: #87c4a5;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  background-image: linear-gradient(-135deg, #006280, #219175);
  padding: 25px;
  font-weight: bolder;
  text-shadow: #219175 2px 5px 5px;
}

.big-one {
  /* background-color:#006280; */
  background-image: linear-gradient(-135deg, #006280, #219175);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  margin: 50px;
  width: 65%;
  height: 300px;
  box-shadow: darkslategray 7px 10px 5px;
  border-radius: 5px;
}

.cards {
  background-color: #006280;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 2em;
  height: 300px;
  box-shadow: darkslategray 7px 10px 5px;
  border-radius: 5px;
  animation: 1s ease-out 0s 1 slideup;
}
.cardcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
}

aside {
  width: 25%;
  height: 300px;
  margin-top: 50px;
  margin-left: 50px;
}

li {
  list-style: none;
  line-height: 42px;
}

.recentcities {
  background-color: #006280;
  font-weight: bolder;
  border-radius: 5px;
  border-style: inset;
  border-color: #006280;
  margin: 5px;
}

.citieslist {
  padding: 10px;
  padding-top: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.searchbar {
  background-image: linear-gradient(135deg, #006280, #219175);
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 5px;
}

.searchbtn {
  background-image: linear-gradient(135deg, #006280, #219175);
  width: 90%;
  height: 30px;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
}

.flexbox {
  display: flex;
  
}

/* @keyframes slideup {
    0% {
      transform: translateY(2000%);
    } 
    90% {
      transform: translateY(-20%)  
    }
    100% {
      transform: translateY(0);
    }
  } */
